/BluetoothAttandanceWeb/packages
/BloothAttendance/packages
/BloothAttendance/BloothAttendance/obj
/BloothAttendance/BloothAttendance/bin
/BluetoothAttandanceWeb/BluetoothAttandanceWeb/obj
/BluetoothAttandanceWeb/BluetoothAttandanceWeb/bin
/BloothAttendance/.vs
/BluetoothAttandanceWeb/.vs
